[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest-flask = "*"
isort = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
sqlalchemy = "*"
boto3 = "*"
psycopg2-binary = "*"
psycopg2 = "*"
mistune = "*"

[requires]
python_version = "3.7"
