{%  macro render_form_errors(form) %}
<script src="{{ url_for('static', filename='js/iterator.js') }}"></script>

{%- for field, value in form.data.items() %}
    {%- for error in form[field].errors %}
    <div class="uk-container-small uk-align-center uk-alert-danger" uk-alert>
        <a id="{{ field }}-error-close-{{ loop.index }}" class="uk-alert-close" uk-close></a>
        <p>{{ error }}</p>
    </div>
    {%- endfor %}

    <script type="text/javascript">
        const {{ field }}Errors = new NodeIterator('{{ field }}-error-close');
        {{ field }}Errors.applyToAll(error => {
            setTimeout(() => error.click(), 1000 * 5);
        });
    </script>
{%- endfor %}
{%- endmacro %}
