{%  macro render_model_table(models, project, create_deployment_form) %}
<div class="uk-container">
    <input id="search_input" type="text" class="uk-width-1-4 uk-input uk-align-right" style="margin-bottom: 0px" placeholder="Search">
    <table id="model_data_table" class="uk-table uk-table-divider" style="width:100%">
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Commit Message</th>
                <th>Last Modified</th>
                <th>Deployment Status</th>
            </tr>
        </thead>
        <tbody>
        {%- for model in models %}
            <tr>
                <td><a href="{{model.link}}">{{ model.filename }}</a></td>
                <td>{{ model.message }}</td>
                <!-- <td class="uk-text-right">{{ model.timestamp }}</td> -->
                <td>{{model.timestamp}}</td>
                <td>
                    <form method='post'
                     action='{{ url_for("deployment.create_new_deployment", project_id=project, commit_id=model.commit_id)}}'
                     novalidate>
                        {{ create_deployment_form.hidden_tag() }}
                        {{ create_deployment_form.user_id(value=current_user.id)}}
                        {{ create_deployment_form.submit(class_="uk-button" ) }}
                     </form>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    var table = $('#model_data_table').DataTable({
        paging : false,
        info : false,
        dom : 't'
    });

    $('#search_input').on('keyup', function () {
        table.search($(this).val()).draw();
    });
});
</script>

{%- endmacro %}
