{%  macro render_projects(projects) %}
<div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
    {%- for project in projects %}
        <div>
            <div onclick="window.location.href='{{ url_for('projects.project', project_id=project.id) }}'" id="project-card-{{ loop.index }}" class="uk-card uk-card-body uk-text-center" style="word-wrap: break-word !important;">
                <h3 class="uk-card-title">{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
        </div>
    {%- endfor %}
</div>

<script src="{{ url_for('static', filename='js/iterator.js') }}"></script>
<script type="text/javascript">
    const projects = new NodeIterator('project-card');
    projects.applyToAll(project => {
        project.addEventListener('mouseover', function() {
            this.classList.add('uk-card-default');
        });
        project.addEventListener('mouseout', function() {
            this.classList.remove('uk-card-default');
        });
    });
</script>
{%- endmacro %}
