<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Lamby - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <!-- UIkit Data Tables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- UIkit Data Tables JS -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.uikit.min.js"></script>
    {% endblock %}

    {% block meta %}
    {% endblock %}
</head>

<body>
    {# Navbar #}
    {% block navbar %}
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ url_for('profile.index') }}">
                <img src="{{ url_for('static', filename='img/lamby.svg') }}" width=45 height=45 />
            </a>
        </div>

        {# Navlinks #}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% from 'macros/navlinks.jinja' import render_navlinks with context %}
                {% if current_user.is_authenticated %}
                    {{ render_navlinks([
                        ('HOME', 'home.index'),
                        ('PROFILE', 'profile.index'),
                        ('LOGOUT', 'auth.logout')
                    ]) }}
                {% else %}
                    {{ render_navlinks([
                        ('HOME', 'home.index'),
                        ('SIGNUP', 'auth.signup'),
                        ('LOGIN', 'auth.login')
                    ]) }}
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    {# Main Content #}
    <div class="content" style="margin: 10px 5% 0px 5%;">
        {% block content %}
        {% endblock %}
    </div>

    {# Flashed Messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="uk-container-small uk-align-center uk-alert-{{ category }}" uk-alert>
                <a id="flash-close-{{ loop.index }}" class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        <script src="{{ url_for('static', filename='js/iterator.js') }}"></script>
        <script type="text/javascript">
            const messages = new NodeIterator('flash-close');
            messages.applyToAll(message => {
                setTimeout(() => message.click(), 1000 * 3);
            });
        </script>
    {% endif %}
    {% endwith %}

    {# Footer #}
    {% block footer %}
    {% endblock %}
</body>
</html>
