{% extends 'helpers/base.jinja' %}

{% from 'macros/deployments.jinja' import render_deployments with context %}

{% block title %}Deployments Center{% endblock %}

{% block content %}
<h3 class="uk-text-center">My Deployed Models</h3>
  {{ render_deployments(deployments) }}
</h3>
{% endblock %}
