{% extends "helpers/base.jinja" %}

{% from 'macros/projects.jinja' import render_projects with context %}

{% block title %}Home{% endblock %}

{% block content %}

{% if scope == "" %}
    <h3 class="uk-text-center">Popular Projects</h3>
{% else %}
    <h3 class="uk-text-center">{{scope}}'s Projects</h3>
{% endif %}
{{ render_projects(projects) }}

{% endblock %}


