{% extends "helpers/base.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}

<h3 class="uk-text-center">Popular Projects</h3>

{% from 'macros/projects.jinja' import render_projects with context %}
{{ render_projects(projects) }}

{% endblock %}


