{% extends "helpers/base.jinja" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='netron/open-sans.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='netron/view-grapher.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='netron/view-sidebar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='netron/view.css') }}">
{% endblock %}

{% block title %}Model{% endblock %}

{% block meta %}
<meta name='type' content='Python' />
<meta name='file' content='{{ object_link }}' />
{% endblock %}

{% block content %}

{# Commits Drop Down #}
<button class="uk-button uk-button-default uk-width-1-6" style="margin-bottom: 5px" type="button">
    COMMITS <span uk-icon="icon: triangle-down"></span>
</button>

<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
    {% for commit in commits %}
        <li>
            <a href="/models/{{ project.id }}/{{ commit.id }}">
                {% if commit.id == head_commit %}HEAD:{% endif %}
                {{ commit.id|truncate(7, True, '') }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
<br />

{% if current_user.id == project.owner_id %}
    <button class="uk-button uk-button-default uk-width-1-6" onclick="changeHead()" style="margin-bottom: 5px" type="button">
        Change head
    </button>
    <br />
{% endif %}

<button
    class="uk-button uk-button-default uk-width-1-6"
    onclick="{% if is_deployed %}deleteDeployment(){% else %}deployModel(){% endif %}"
    type="button"
>
    {% if is_deployed %} UNDEPLOY {% else %} DEPLOY {% endif %}
</button>

<h4 class="uk-text-center">Current Commit: {{ commit_id|truncate(7, True, '') }}</h4>

<script type="text/javascript">
    const changeHead = async () => {
        try {
            const endpoint = "{{ url_for('models.change_head', project_id=project.id, commit_id=commit_id) }}";
            const res = await fetch(endpoint, {
                method: "POST",
                body: {},
            });
            window.location.href = "{{ request.url }}";
        } catch (err) {
            window.location.href = "{{ request.url }}";
        }
    }

    const deployModel = async () => {
        const endpoint = "{{ url_for('models.deploy_model', project_id=project.id, commit_id=commit_id) }}";
        const res = await fetch(endpoint, {
            method: "POST",
            body: {}
        });
        window.location.href = "{{ request.url }}";
    }

    const deleteDeployment = async () => {
        const endpoint = "{{ url_for('models.undeploy_model', project_id=project.id, commit_id=commit_id) }}";
        const res = await fetch(endpoint, {
            method: "POST",
            body: {}
        });
        window.location.href = "{{ request.url }}";
    }
</script>

<a class="center logo" href="https://github.com/lutzroeder/netron" target="_blank">
    <svg id="spinner" class="spinner logo absolute" viewbox="0 0 1024 1024" style="display: none;">
        <g transform="translate(512, 512)" style="opacity: 1">
            <path class="stroke" d="M-431,0 A-431,-431 0 0,1 0,-431" stroke-width="24" fill="None"></path>
        </g>
    </svg>
</a>

<div id="graph-container" style="overflow: scroll; width: 100%; height: 100%">
    <svg id="graph" class="graph" preserveaspectratio="xMidYMid meet" width="100%" height="100%"></svg>
</div>

<div id="toolbar" class="toolbar" style="position: absolute; top: 50px; display: none;">
    <button id="model-properties-button" title="Model Properties">
        <svg class="icon" viewbox="0 0 100 100">
            <rect class="border" x="12" y="12" width="76" height="76" rx="16" ry="16" stroke-width="8"></rect>
            <line class="border" x1="30" y1="37" x2="70" y2="37" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <line class="border" x1="30" y1="50" x2="70" y2="50" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <line class="border" x1="30" y1="63" x2="70" y2="63" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <rect class="stroke" x="12" y="12" width="76" height="76" rx="16" ry="16" stroke-width="4"></rect>
            <line class="stroke" x1="30" y1="37" x2="70" y2="37" stroke-width="4" stroke-linecap="round"></line>
            <line class="stroke" x1="30" y1="50" x2="70" y2="50" stroke-width="4" stroke-linecap="round"></line>
            <line class="stroke" x1="30" y1="63" x2="70" y2="63" stroke-width="4" stroke-linecap="round"></line>
        </svg>
    </button>
    <button id="zoom-in-button" title="Zoom In">
        <svg class="icon" viewbox="0 0 100 100">
            <circle class="border" cx="50" cy="50" r="35" stroke-width="8" stroke="#fff"></circle>
            <line class="border" x1="50" y1="38" x2="50" y2="62" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <line class="border" x1="38" y1="50" x2="62" y2="50" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <line class="border" x1="78" y1="78" x2="82" y2="82" stroke-width="12" stroke-linecap="square" stroke="#fff"></line>
            <circle class="stroke" cx="50" cy="50" r="35" stroke-width="4"></circle>
            <line class="stroke" x1="50" y1="38" x2="50" y2="62" stroke-width="4" stroke-linecap="round"></line>
            <line class="stroke" x1="38" y1="50" x2="62" y2="50" stroke-width="4" stroke-linecap="round"></line>
            <line class="stroke" x1="78" y1="78" x2="82" y2="82" stroke-width="8" stroke-linecap="square"></line>
        </svg>
    </button>
    <button id="zoom-out-button" title="Zoom Out">
        <svg class="icon" viewbox="0 0 100 100">
            <circle class="border" cx="50" cy="50" r="35" stroke-width="8" stroke="#fff"></circle>
            <line class="border" x1="38" y1="50" x2="62" y2="50" stroke-width="8" stroke-linecap="round" stroke="#fff"></line>
            <line class="border" x1="78" y1="78" x2="82" y2="82" stroke-width="12" stroke-linecap="square" stroke="#fff"></line>
            <circle class="stroke" cx="50" cy="50" r="35" stroke-width="4"></circle>
            <line class="stroke" x1="38" y1="50" x2="62" y2="50" stroke-width="4" stroke-linecap="round"></line>
            <line class="stroke" x1="78" y1="78" x2="82" y2="82" stroke-width="8" stroke-linecap="square"></line>
        </svg>
    </button>
</div>

<div id="sidebar" class="sidebar">
    <h1 id="sidebar-title" class="sidebar-title"></h1>
    <a href="javascript:void(0)" id="sidebar-closebutton" class="sidebar-closebutton">&times;</a>
    <div id="sidebar-content" class="sidebar-content">
    </div>
</div>

{# Netron JS requirements #}
<script type="text/javascript" src="{{ url_for('static', filename='netron/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/dagre.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/protobuf.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/flatbuffers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/marked.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/pako.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/long.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/base.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/zip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/gzip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/tar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/view-grapher.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/view-sidebar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='netron/view-browser.js') }}"></script>

{% endblock %}


