{% extends "helpers/base.jinja" %}

{% from 'macros/projects.jinja' import render_projects with context %}

{% block title %}Profile{% endblock %}

{% block content %}

<h2 class="uk-text-center">Profile</h2>

<ul class="uk-tab" uk-switcher>
    {% if focused_tab == 'projects' %}
        <li class="uk-active"><a href="#">Projects</a></li>
        <li><a href="#">My Info</a></li>
    {% else %}
        <li><a href="#">Projects</a></li>
        <li class="uk-active"><a href="#">My Info</a></li>
    {% endif %}
</ul>

<ul class="uk-switcher uk-margin">
    {# Projects Tab #}
    <li>
        {{ render_projects(projects) }}
        <!-- Button to create new project -->
        <div class="uk-position-bottom-right" style="margin-right:50px; margin-bottom:50px">
            <button class="uk-button uk-button-default uk-button-large" type="button" uk-toggle="target: #new-project-modal">New Project</button>
        </div>

        <!-- Project Creation Modal -->
        <div id="new-project-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">New Project</h2>
                <form method="post" action="{{ url_for('profile.create_new_project') }}" novalidate>
                    {{ new_project_form.hidden_tag() }}
                    {{ new_project_form.project_title(class_="uk-input uk-align", type="text", placeholder="Project Name") }}
                    {{ new_project_form.project_desc(class_="uk-input uk-align", type="text", placeholder="Project Description") }}
                    <p class="uk-text-right">
                        {{ new_project_form.submit(class_="uk-button uk-button-primary uk-width-1-2 uk-margin-small-bottom uk-align") }}
                    </p>
                </form>
            </div>
        </div>
    </li>

    {# My Info Tab #}
    <li>
        <ul>
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <form method="post" action="{{ url_for('profile.handle_my_info_form') }}" novalidate>
                        {{ my_info_form.hidden_tag() }}

                        <div align="left">
                            <h4>Email</h4>
                            {{ my_info_form.email(class_="uk-input uk-align", type="text", value=current_user.email, disabled=true) }}

                            <h4>Change Password</h4>
                            {{ my_info_form.old_password(class_="uk-input uk-align", type="password", placeholder="Old Password") }}
                            {{ my_info_form.new_password(class_="uk-input uk-align", type="password", placeholder="New Password") }}
                            {{ my_info_form.submit(class_="uk-button uk-button-primary uk-width-1-2 uk-margin-small-bottom uk-align") }}
                        </div>
                    </form>
                    <form method="post" action="{{ url_for('profile.handle_delete_account') }}" novalidate>
                        {{ delete_account_form.hidden_tag() }}

                        <div align="left">
                            <h4></h4>
                            <h4>Delete Account</h4>
                            {{ delete_account_form.submit(class_="uk-button uk-button-danger uk-width-1-2 uk-margin-small-bottom uk-align") }}
                        </div>
                    </form>
                </div>

                <div>
                    <form method="post" action="{{ url_for('profile.handle_my_api_key_form') }}" novalidate>
                        {{ my_api_key_form.hidden_tag() }}

                        <div align="left">
                            <h4>API Key</h4>
                            {{ my_api_key_form.api_key(class_="uk-input uk-align", type="text", value=(current_user.api_key or 'NULL'), disabled=true) }}
                            {{ my_api_key_form.generate_new_key(class_="uk-button uk-button-primary uk-width-1-2 uk-margin-small-bottom uk-align") }}
                        </div>
                    </form>
                </div>
            </div>
        </ul>
    </li>
</ul>


{% endblock %}
