{% extends "helpers/base.jinja" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h2 class="uk-text-center">Profile</h2>

{% from 'macros/projects.jinja' import render_projects with context %}

<ul class="uk-tab" uk-switcher>
    <li><a href="#">Projects</a></li>
    <li><a href="#">My Info</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>{{ render_projects(projects) }}</li>
    <li>
        <ul>
            <form>
                <h4>Email</h4>
                <input class="uk-input" type="email" value="{{ current_user.email }}" disabled>

                <h4>User ID</h4>
                <input class="uk-input" type="text" value="{{ current_user.id }}" disabled>
            </form>
        </ul>
    </li>
</ul>

<script src="{{ url_for('static', filename='js/iterator.js') }}"></script>
<script type="text/javascript">
    const projects = new NodeIterator('project-card');
    projects.applyToAll(project => {
        project.addEventListener('mouseover', function() {
            this.classList.add('uk-card-default');
        });
        project.addEventListener('mouseout', function() {
            this.classList.remove('uk-card-default');
        });
    });
</script>

{% endblock %}
