{% extends "helpers/base.jinja" %}

{% from 'macros/model_table.jinja' import render_table with context %}

{% block title %}Test Project{% endblock %}

{% block content %}

<h2 class="uk-text-center">{{project_title}}</h2>

{{ render_table(project) }}

{% endblock %}
