{% extends "helpers/base.jinja" %}
{% from 'macros/model_table.jinja' import render_table with context %}

{% block title %}Test Project{% endblock %}

{% block content %}

<h2 class="uk-text-center">{{ project_title }} - {{ project_id }}</h2>

{{ render_table(project) }}
<form method="post" action="{{ url_for('projects.handle_delete_project', project_id=project_id) }}" novalidate>
    <div class="uk-position-bottom-right" style="margin-right:50px; margin-bottom:50px">
        {{ delete_project_form.hidden_tag() }}
        {% if current_user.is_authenticated and owner_id == current_user.id %}
            {{ delete_project_form.submit(class_="uk-button uk-button-default uk-button-large" ) }}
        {% endif %}
    </div>
</form>

<div class="uk-container">
    <div class="uk-panel" style="border: 1px solid #ddd; padding: 10px;">
    {{ mark_up }}
    </div>

    <!-- This is a button toggling the README modal -->
    {% if current_user.is_authenticated and owner_id == current_user.id %}
    <button
        class="uk-button uk-button-default uk-margin-small-right uk-align-right uk-margin-top"
        type="button"
        uk-toggle="target: #modal-readme"
    >
        Edit README
    </button>
    {% endif %}
</div>

<!-- This is the README modal -->
<div id="modal-readme" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Edit README</h2>
    <form method="post" action="{{ url_for('projects.edit_readme_form', project_id=project_id) }}">
        {{ readme_edit_form.hidden_tag() }}
        {{ readme_edit_form.markdown(class_="uk-align uk-textarea uk-form-medium",style="height: 500px;") }}
        {{ readme_edit_form.submit(class_="uk-button uk-button-default uk-margin-small-bottom uk-align-right") }}

        <button class="uk-button uk-button-default uk-modal-close uk-align-right" type="button">
            Cancel
        </button>
    </form>
  </div>
</div>

{% endblock %}
