{% extends 'helpers/base.jinja' %}
{% from 'macros/model_table.jinja' import render_model_table with context %}

{% block title %}{{ project.title }}{% endblock %}


{% block content %}

<h2 class="uk-text-center">{{ project.title }}</h2>

{# Model Table #}
{{ render_model_table(model_table_data, project) }}

{# Show the delete project form if the current user owns the project #}
{% if current_user.is_authenticated and project.owner_id == current_user.id %}
<form method="post" action="{{ url_for('projects.handle_delete_project', project_id=project.id) }}" novalidate>
    <div class="uk-position-bottom-right" style="margin-right:50px; margin-bottom:50px">
        {{ delete_project_form.hidden_tag() }}
        {{ delete_project_form.submit(class_="uk-button uk-button-danger uk-button-large" ) }}
    </div>
</form>
{% endif %}

<div class="uk-container">
    <div class="uk-panel" style="border: 1px solid #ddd; padding: 10px;">
      {{ formatted_readme }}
    </div>

    {# Enable README editing if the current user owns the project #}
    {% if current_user.is_authenticated and project.owner_id == current_user.id %}
    <button
        class="uk-button uk-button-default uk-margin-small-right uk-align-right uk-margin-top"
        type="button"
        uk-toggle="target: #modal-readme"
    >
        Edit README
    </button>
    {% endif %}
    <button
        class="uk-button uk-button-default uk-margin-small-right uk-align-right uk-margin-top"
        type="button"
        uk-toggle="target: #project-info-modal"
    >
        Project Info
    </button>
</div>

{# README modal #}
<div id="modal-readme" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Edit README</h2>
    <form method="post" action="{{ url_for('projects.handle_edit_readme', project_id=project.id) }}">
        {{ edit_readme_form.hidden_tag() }}
        {{ edit_readme_form.markdown(class_="uk-align uk-textarea uk-form-medium", style="height: 500px;") }}
        {{ edit_readme_form.submit(class_="uk-button uk-button-default uk-margin-small-bottom uk-align-right") }}
        <button class="uk-button uk-button-default uk-modal-close uk-align-right" type="button">
            Cancel
        </button>
    </form>
  </div>
</div>

{# Project Info modal #}
<div id="project-info-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Project Information</h2>
    <dl class="uk-description-list uk-description-list-divider">
        <dt>Project Title</dt>
        <dd>{{ project.title }}</dd>
        <dt>Project Description</dt>
        <dd>{{ project.description }}</dd>
        <dt>Project Owner</dt>
        <dd>{{ project.owner.email }}</dd>
        <dt>Date Created</dt>
        <dd>{{ formatted_date_created }}</dd>

        <dt>Project Members</dt>
        <dd>
        <form method="post" action="{{ url_for('projects.handle_members', project_id=project.id) }}">
          {{ edit_members_form.hidden_tag() }}
          {{
            edit_members_form.members(
              class_="uk-align uk-textarea uk-form-medium",
              rows=project.members|length,
              readonly=current_user not in project.members
            )
          }}
          {{ edit_members_form.submit(class_="uk-button uk-button-default uk-margin-small-bottom uk-align-right") }}
        </form>
    </dl>
  </div>
</div>

{% endblock %}
